<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sander Vonk" />
    <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
    <meta name="description" content="Sander Vonk professional website" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>The Duquesne Incline | Experiences</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js" type="module"></script>
    <link rel="stylesheet" href="../static/js/util/util.css" />
    <link rel="stylesheet" href="../static/js/util/theme.css" />
  </head>
  <body>
    <header>
      <img src="../static/images/logo.png" alt="Incline Logo" />
      <h2>The Duquesne Incline</h2>
      <nav>
        <ul>
          <li><a href="../" data-match="/project">Home</a></li>
          <li><a href="visit.html" data-match="views/visit">Visit</a></li>
          <li><a href="experiences.html" data-match="views/experiences">Experiences</a></li>
          <li><a href="shop.html" data-match="views/shop">Shop</a></li>
          <li><a onClick="contactForm()">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>At a Glance</h1>
        <div class="card-row about-cards">
          <div class="card about-card">
            <h4 class="card-title">Cost to Build</h4>
            <span class="card-number">47,000</span>
            <span class="card-context">1877 Dollars</span>
          </div>
          <div class="card about-card">
            <h4 class="card-title">Opened to Public</h4>
            <span class="card-number">1877</span>
            <span class="card-context">May 20th</span>
          </div>
          <div class="card about-card">
            <h4 class="card-title">Track Length</h4>
            <span class="card-number">794</span>
            <span class="card-context">feet</span>
          </div>
          <div class="card about-card">
            <h4 class="card-title">Elevation</h4>
            <span class="card-number">400</span>
            <span class="card-context">feet</span>
          </div>
          <div class="card about-card">
            <h4 class="card-title">Grade</h4>
            <span class="card-number">30.5</span>
            <span class="card-context">degrees</span>
          </div>
          <div class="card about-card">
            <h4 class="card-title">Speed</h4>
            <span class="card-number">6.0</span>
            <span class="card-context">miles per hour</span>
          </div>
          <div class="card about-card">
            <h4 class="card-title">Capacity</h4>
            <span class="card-number">18 Persons</span>
            <span class="card-context">per car</span>
          </div>
        </div>
        <p>
          The Duquesne Incline is a funicular railway located near Pittsburgh's South Side neighborhood and scaling Mt. Washington. It was completed in 1877 and is 794 feet long, 400 feet in
          elevation, and has a grade of 30.5 degrees. The incline travels at a speed of 6.0 miles per hour and has a capacity of 18 persons per car. The incline was built for $47,000 in 1877 dollars
          and opened to the public on May 20th, 1877.
        </p>
        <br />
      </div>
      <div>
        <h1>Featuring Tours</h1>
        <div class="card-row">
          <div class="card">
            <h3>Pittsburgh Tours &amp; More</h3>
            <p>Pittsburgh Movie Locations, Sports, Breweries, Wineries and more.</p>
            <a href="http://www.pghtoursandmore.net/">Website</a> |
            <a href="tel:+14123234707">412-323-4707</a>
          </div>
          <div class="card">
            <h3>Molly's Trolleys</h3>
            <p>Historical tours of Pittsburgh, including the incline.</p>
            <a href="http://www.mollystrolleyspgh.com/">Website</a> |
            <a href="tel:+14122812055">412-281-2055</a>
          </div>
          <div class="card">
            <h3>Rivers of Steel</h3>
            <p>Guided tours of the Carrie Furnace, Bost Building, and more.</p>
            <a href="http://www.riversofsteel.com/">Website</a> |
            <a href="tel:+14124644020">412-464-4020</a>
          </div>
          <div class="card">
            <h3>The Pittsburgh Tour Company</h3>
            <p>Hop on/Hop off Double Decker tour buses from London</p>
            <a href="http://www.pghtours.com/">Website</a> |
            <a href="tel:+14123818687">412-381-8687</a>
          </div>
        </div>
        <p>
          The Duquesne Incline is surrounded by a plethora of beautiful experiences. We have partnered with local tour companies to offer guided tours that include a visit to the incline. Below are
          some of the tours that include the incline.
        </p>
        <br />
      </div>
    </main>
    <footer>
      <img src="../static/images/footer.png" alt="An outside view of the incline building" height="100%" width="auto" />
      <p>&copy; 2025 The Duquesne Incline</p>
      <address>
        <span>Address: <a href="visit.html#directions">1197 W Carson St, Pittsburgh, PA 15219</a></span>
        <br />
        Phone Number: <a href="tel:+4123811665">412.381.1665</a>
        <br />
        Fax: 412.381.1943
        <br />
        Email: <a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a>
      </address>
    </footer>
  </body>
</html>
