<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Sander Vonk" />
    <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
    <meta name="description" content="Sander Vonk professional website" />
    <title>Sander Vonk</title>
  </head>
  <body style="font-family: Arial">
    <header style="color: blue; background: lightblue">
      <h1>Sander Vonk</h1>
      <nav>
        <a href="../">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact Me</a>
        <a href="fun.html">For fun</a>
      </nav>
    </header>
    <div class="main">
      <h2>Contact Me</h2>
      <table>
        <tr>
          <th>Contact Method</th>
          <th>Information</th>
        </tr>
        <tr>
          <td>Email:</td>
          <td><a href="mailto:sander@svonk.me">sander@svonk.me</a></td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td><a href="tel:+6503830388">+1 (650) 383-0388</a></td>
        </tr>
        <tr>
          <td>Linkedin:</td>
          <td><a href="https://linkedin.com/in/sandercvonk">Linkedin Profile</a></td>
        </tr>
      </table>
      <form style="display: flex; flex-flow: column; align-items: flex-start">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Jane Doe" required />
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="jane@example.com" required />
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment" required></textarea>
        <input type="submit" />
      </form>
    </div>
    <footer>&copy; 2025 Sander Vonk, All Rights Reserved</footer>
  </body>
</html>
