<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Sander Vonk" />
    <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
    <meta name="description" content="Sander Vonk professional website" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Sander Vonk</title>
  </head>
  <body>
    <header>
      <h1 id="webname">Sander Vonk</h1>
      <nav>
        <a href="../">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact Me</a>
        <a href="fun.html">For fun</a>
      </nav>
    </header>
    <div class="main">
      <h2>Curriculum Vitae</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Institution</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Software Developer</td>
          <td>CMU CS Academy</td>
          <td>
            <ul>
              <li>Joined the Software Engineering team in the Spring semester working up to 20hrs/week in addition to my IS course-load</li>
              <li>
                Worked heavily with React, Firebase, Python, Django, PostgreSQL, and various DevOps and testing platforms including AWS, Github, Terraform, Jest, and Selenium developing a fully
                featured teacher and student experience
              </li>
              <li>Built experience with React & Redux and applied/expanded my UI/UX knowledge in the educational technology space</li>
              <li>Implemented features requested by just under a half million students and teachers to improve their learning experience</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Junior Software Devloper</td>
          <td>Aeries Software</td>
          <td>
            <ul>
              <li>Leveraged industry-standard processes (Figma, DevOps, Scrum) as principal designer of the mobile Parent-Student Portal</li>
              <li>Completed over 50 interactive screens, 20 prototype flows, and 100s of components to be brand-aware and modern</li>
              <li>Catalyzed rapid development by creating numerous React Native components with detailed documentation</li>
              <li>
                Considered various use cases in early-stage design to target ease-of-use, applying brand values and design systems to a multi-platform application within a larger established software
                suite used by over 2.5 million students in California & Texas
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Health Chair & Senior Board Member</td>
          <td>US Congressional District 16 Student Advisory Board</td>
          <td>
            <ul>
              <li>
                Led a 35-person, the largest of the board's subcommittees, research effort on various health topics, such as Mental Health, Fentanyl, Women's Healthcare, Reproductive Rights, and
                Affordability/Accessibility of Healthcare
              </li>
              <li>Edited, formatted, and finalized subgroup work into propositions and research papers published to the Library of Congress</li>
            </ul>
          </td>
        </tr>
      </table>
      <a target="_blank" href="../static/resume.pdf">My Resume</a>
    </div>
    <footer>&copy; 2025 Sander Vonk, All Rights Reserved</footer>
  </body>
</html>
