<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Sander Vonk" />
    <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
    <meta name="description" content="Sander Vonk professional website" />
    <title>Sander Vonk</title>
  </head>
  <body style="font-family: Arial">
    <header style="color: blue; background: lightblue">
      <h1>Sander Vonk</h1>
      <nav>
        <a href="../">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact Me</a>
        <a href="fun.html">For fun</a>
      </nav>
    </header>
    <div class="main">
      <h2>Curriculum Vitae</h2>
      <table>
        <tr style="font-weight: bold">
          <td>Title</td>
          <td>Project/Company</td>
        </tr>
        <tr>
          <td>Software Developer</td>
          <td>CMU CS Academy</td>
        </tr>
        <tr>
          <td>Junior Software Devloper</td>
          <td>Aeries Software</td>
        </tr>
        <tr>
          <td>Health Chair & Senior Board Member</td>
          <td>US Congressional District 16 Student Advisory Board</td>
        </tr>
      </table>
      <a href="../static/resume.pdf">My Resume</a>
    </div>
  </body>
</html>
