<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Sander Vonk" />
    <meta name="keywords" content="Carnegie Mellon University, Information Systems" />
    <meta name="description" content="Sander Vonk professional website" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Sander Vonk</title>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="../static/js/script.js" defer></script>
  </head>
  <body onload="addYear()">
    <header>
      <h1 id="webname">Sander Vonk</h1>
      <nav>
        <a href="../">Home</a>
        <a href="cv.html">CV</a>
        <a href="contact.html">Contact Me</a>
        <a href="fun.html">For fun</a>
      </nav>
    </header>
    <div class="main">
      <h2>Contact Me</h2>
      <table>
        <tr>
          <th>Contact Method</th>
          <th>Information</th>
        </tr>
        <tr>
          <td>Email:</td>
          <td><a href="mailto:sander@svonk.me">sander@svonk.me</a></td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td><a href="tel:+6503830388">+1 (650) 383-0388</a></td>
        </tr>
        <tr>
          <td>Linkedin:</td>
          <td><a href="https://linkedin.com/in/sandercvonk">Linkedin Profile</a></td>
        </tr>
      </table>
      <form style="display: flex; flex-flow: column; align-items: flex-start">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Jane Doe" required />
        <p class="validationText"></p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="jane@example.com" required />
        <p class="validationText"></p>
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment" required></textarea>
        <p class="validationText"></p>
        <input type="submit" />
      </form>
    </div>
    <footer>&copy;<span id="copyYear"></span>Sander Vonk, All Rights Reserved</footer>
  </body>
</html>
