@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --background: #e9e2d7;
  --text: #342f2c;
  --white: #ffffff;
  --accent-red: #b80c09;
  --accent-purple: #9191e9;
  --header-footer-bg: #00000080;
}

body,
html {
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-size: 18px;
  overscroll-behavior: none;
}

/* spread contents over screen (footer always at bottom) */
body {
  display: flex;
  flex-flow: column;
  min-height: 100dvh;

  > * {
    flex: 0 0 auto;
  }
  > main {
    flex-grow: 1;
  }
}

* {
  font-family: Inter, Arial, sans-serif;
  box-sizing: border-box;
}

header,
footer {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-flow: row nowrap;
  background: var(--header-footer-bg);
  padding: 0 20px;
  font-size: 16px;
  color: var(--background);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
header {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 2;
  border-bottom: solid 2px #ffffff40;
  > a {
    text-decoration: none;
    color: var(--background);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  h3 {
    font-size: 27px;
  }
  + .center-over-img {
    margin-top: -70px;
    height: 100dvh;
    width: 100%;
    background-image: url(../images/splash.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: "Fjalla One", sans-serif;
      font-size: 100px;
      text-transform: uppercase;
      color: var(--background);
      text-align: center;
    }
  }
  nav {
    flex-grow: 0;
    margin-left: auto;
    ul {
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          color: var(--background);
          text-decoration: none;
          font-weight: bold;
          padding: 10px;
          border-radius: 5px;
          transition: background-color 0.2s, color 0.2s;
        }
        a:hover {
          background-color: var(--accent-red);
        }
        a.active {
          background-color: var(--background);
          color: var(--text);
        }
      }
      :last-of-type a {
        background-color: var(--accent-red);
        padding: 7px 12px;
        border-radius: 50px;
      }
    }
  }
}
footer {
  align-items: space-between;
  justify-content: space-betwee;
  address {
    table {
      margin: 0 auto;
    }
  }
  img {
    flex-grow: 0 !important;
  }
  > * {
    flex-basis: min-content;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: left;
    &.social-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-flow: column nowrap;
      .social-links {
        display: flex;
        flex-flow: row nowrap;
        height: 40px;
        gap: 10px;
        .social-link {
          height: 40px;
          width: 40px;
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  height: 200px;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px 0;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  .img-grid {
    display: grid;
    grid-template-areas:
      "a b b"
      "a c d";
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 200px 300px;
    gap: 10px;
    @media (max-width: 800px) {
      grid-template-areas:
        "a b"
        "c c"
        "d d";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px 120px 150px;
    }
    img {
      width: 100%;
      height: 100%;
    }
    > * {
      border-radius: 10px;
      overflow: hidden;
      object-fit: cover;
      user-select: none;
      &:nth-child(1) {
        grid-area: a;
      }
      &:nth-child(2) {
        grid-area: b;
      }
      &:nth-child(3) {
        grid-area: c;
      }
      &:nth-child(4) {
        grid-area: d;
      }
      &:last-child {
        position: relative;
        &::before {
          content: "See More";
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #000000aa;
        }
      }
    }
  }

  h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 42px;
    color: var(--accent-red);
    margin-top: 0.75em !important;
    margin-bottom: 0.25em !important;
  }
  h2 {
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.25em !important;
  }

  > * {
    margin: 0 20px;
    width: calc(100% - 2 * 20px);
  }
  > :has(.card-row) {
    margin: 0;
    width: 100%;
    > * {
      margin: 0 20px;
      width: calc(100% - 2 * 20px);
    }
  }

  /* text and general styles */
  .rounded-10 {
    border-radius: 10px;
  }
  a[href],
  button {
    cursor: pointer;
  }
  a[href] {
    color: var(--accent-purple);
    font-weight: bold;
    text-decoration: none;
  }
  a[href]:hover {
    text-decoration: underline;
  }
  /* children */
  .card-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    padding-right: 50px;
    margin: 0;
    position: relative;
    scrollbar-width: none;
    align-items: stretch;
    justify-content: stretch;
    .card {
      padding: 20px 30px;
      border-radius: 10px;
      width: 400px;
      flex-shrink: 0;
      background-color: var(--white);
    }
    .about-card {
      height: 310px;
      width: 250px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 60px;
      .card-title {
        font-size: 20px;
      }
      .card-number {
        font-size: 35px;
      }
      .card-context {
        font-size: 22px;
      }
    }
  }
  .card-row.rates-row {
    padding-right: 20px !important;
    align-items: stretch;
    .card {
      width: 300px;
      flex-grow: 1;
      h3 {
        margin-top: 10px;
      }
      .rates-pair {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: 140px;
        hr {
          width: 2px;
          height: 100px;
          border: none;
          margin: 0;
          background-color: var(--accent-purple);
        }
        .rate-side {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          .rate-amount {
            font-size: 35px;
          }
          .rate-context {
            font-size: 20px;
          }
        }
      }
    }
  }
  .card-row:not(.rates-row):after {
    content: "->";
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-red);
    font-weight: bold;
    font-size: 40px;
    user-select: none;
    flex-shrink: 0;
    width: 50px;
    align-self: stretch;
    background: linear-gradient(to right, #00000000 0%, var(--background) 100%);
    position: sticky;
    top: 0;
    right: -50px;
  }
  .mailinglist-over-img {
    position: relative;
    img {
      width: 100%;
    }
    button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--accent-red);
      border: none;
      color: var(--background);
      font-size: 20px;
      font-family: "Inter", sans-serif;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 0 0 30px hsla(0, 0%, 0%, 0.5);
      transform-origin: center center;
      transition: transform 0.2s;
      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
}
@media (max-width: 800px) {
  header {
    h2 {
      display: none;
    }
    + .center-over-img h1 {
      font-size: 15vw !important;
    }
  }
  footer {
    > img {
      display: none;
    }
  }
  main {
    .card-row.rates-row {
      flex-flow: column;
      .card {
        width: 100%;
        .rate-side {
          transform-origin: center center;
          scale: 0.8;
        }
      }
    }
  }
}

/* lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000aa;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  .lightbox_content {
    position: relative;
    max-height: 80%;
    max-width: 80%;
    width: 700px;
    height: 500px;
    &:has(.mail_form) {
      max-width: 400px;
    }
    .lightbox_inner {
      background-color: var(--background);
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 10px;
      height: 100%;
      .mail_form,
      &.mail_form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
      }
      button {
        padding: 20px 20px;
        border: none;
        background-color: white;
        border-radius: 10px;
      }
      .lightbox__image {
        height: 100%;
        width: 100%;
        object-fit: contain;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        img {
          object-fit: contain;
          flex: 200px 1 1;
          height: 200px;
        }
        p {
          margin: 0;
          font-size: 0.75em;
        }
      }
    }
    .lightbox__close {
      position: absolute;
      border: none;
      top: 10px;
      right: 10px;
      background: var(--accent-purple);
      color: white;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
