@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
  --background: #e9e2d7;
  --text: #342f2c;
  --white: #ffffff;
  --accent-red: #b80c09;
  --accent-purple: #9191e9;
  --header-footer-bg: #00000080;
}

body,
html {
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-size: 18px;
}

* {
  font-family: Inter, Arial, sans-serif;
  box-sizing: border-box;
}

header,
footer {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-flow: row nowrap;
  background: var(--header-footer-bg);
  padding: 0 20px;
  font-size: 16px;
  color: var(--background);
  backdrop-filter: blur(10px);
}
header {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 2;
  border-bottom: solid 2px #ffffff40;
  h3 {
    font-size: 27px;
  }
  + .center-over-img {
    margin-top: -70px;
    height: 100dvh;
    width: 100%;
    background-image: url(../images/splash.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Fjalla One", sans-serif;
      font-size: 100px;
      text-transform: uppercase;
      color: var(--background);
    }
  }
  nav {
    flex-grow: 0;
    margin-left: auto;
    ul {
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          color: var(--background);
          text-decoration: none;
          font-weight: bold;
          padding: 10px;
          border-radius: 5px;
          transition: background-color 0.2s;
        }
        a:hover {
          background-color: var(--accent-red);
        }
      }
    }
  }
}
footer {
  align-items: space-between;
  p {
    flex-basis: min-content;
    flex-grow: 1;
    text-align: center;
  }
  height: 200px;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px 0;
  width: 100%;

  h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 42px;
    color: var(--accent-red);
  }

  > * {
    margin: 0 20px;
    width: calc(100% - 2 * 20px);
  }
  > :has(.card-row) {
    margin: 0;
    width: 100%;
    > * {
      margin: 0 20px;
      width: calc(100% - 2 * 20px);
    }
  }

  /* text and general styles */
  .rounded-10 {
    border-radius: 10px;
  }
  a[href] {
    color: var(--accent-purple);
    font-weight: bold;
    text-decoration: none;
  }
  a[href]:hover {
    text-decoration: underline;
  }
  /* children */
  .card-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    padding-right: 50px;
    margin: 0;
    position: relative;
    scrollbar-width: none;
    align-items: stretch;
    justify-content: stretch;
    .card {
      padding: 20px 30px;
      border-radius: 10px;
      width: 400px;
      flex-shrink: 0;
      background-color: var(--white);
    }
  }
  .card-row:after {
    content: "->";
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-red);
    font-weight: bold;
    font-size: 40px;
    user-select: none;
    flex-shrink: 0;
    width: 50px;
    align-self: stretch;
    background: linear-gradient(to right, #00000000 0%, var(--background) 100%);
    position: sticky;
    top: 0;
    right: -50px;
  }
}
